/* Colors */

.edf-header-visualization .c0 code { background-color: #ff93a5 }
.edf-header-visualization .c1 code { background-color: #a8ffaa }
.edf-header-visualization .c2 code { background-color: #ffff91 }
.edf-header-visualization .c3 code { background-color: #b4c0ff }
.edf-header-visualization .c4 code { background-color: #ffe690 }
.edf-header-visualization .c5 code { background-color: #bcffff }
.edf-header-visualization .c6 code { background-color: #ffa8ff }
.edf-header-visualization .c7 code { background-color: #ffffff }
.edf-header-visualization .c8 code { background-color: #aafdf3 }
.edf-header-visualization .c9 code { background-color: #c7bcb0 }

/* Grid */

.edf-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1.25em, 1fr));
  grid-gap: 1px;
  grid-auto-rows: 1.25em;
}

.edf-grid .header,
.edf-grid .group {
  display: contents;
}

.edf-grid code {
  font-size: .85em;
  line-height: 1.6;
  text-align: center;
}

.edf-grid.version .version code,
.edf-grid.patientIdentification .patientIdentification code,
.edf-grid.recordIdentification .recordIdentification code,
.edf-grid.startDate .startDate code,
.edf-grid.startTime .startTime code,
.edf-grid.recordHeaderByteSize .recordHeaderByteSize code,
.edf-grid.staticReserved .staticReserved code,
.edf-grid.numberOfDataRecords .numberOfDataRecords code,
.edf-grid.recordDurationTime .recordDurationTime code,
.edf-grid.numberOfSignals .numberOfSignals code,
.edf-grid.label .label code,
.edf-grid.transducerType .transducerType code,
.edf-grid.physicalDimension .physicalDimension code,
.edf-grid.physicalMinimum .physicalMinimum code,
.edf-grid.physicalMaximum .physicalMaximum code,
.edf-grid.digitalMinimum .digitalMinimum code,
.edf-grid.digitalMaximum .digitalMaximum code,
.edf-grid.preFiltering .preFiltering code,
.edf-grid.numberOfSamples .numberOfSamples code,
.edf-grid.dynamicReserved .dynamicReserved code {
  filter: invert(1) saturate(2);
  outline: 1px solid white;
}

.edf-grid.static-header .static-header code,
.edf-grid.dynamic-header .dynamic-header code,
.edf-grid.channel-1 .channel-1 code,
.edf-grid.channel-2 .channel-2 code,
.edf-grid.channel-3 .channel-3 code,
.edf-grid.channel-4 .channel-4 code,
.edf-grid.channel-5 .channel-5 code,
.edf-grid.channel-6 .channel-6 code,
.edf-grid.channel-7 .channel-7 code,
.edf-grid.channel-8 .channel-8 code,
.edf-grid.channel-9 .channel-9 code,
.edf-grid.channel-10 .channel-10 code,
.edf-grid.channel-11 .channel-11 code,
.edf-grid.channel-12 .channel-12 code,
.edf-grid.channel-13 .channel-13 code,
.edf-grid.channel-14 .channel-14 code,
.edf-grid.channel-15 .channel-15 code,
.edf-grid.channel-16 .channel-16 code,
.edf-grid.channel-17 .channel-17 code,
.edf-grid.channel-18 .channel-18 code,
.edf-grid.channel-19 .channel-19 code,
.edf-grid.channel-20 .channel-20 code,
.edf-grid.channel-21 .channel-21 code,
.edf-grid.channel-22 .channel-22 code,
.edf-grid.channel-23 .channel-23 code,
.edf-grid.channel-24 .channel-24 code,
.edf-grid.channel-25 .channel-25 code,
.edf-grid.channel-26 .channel-26 code,
.edf-grid.channel-27 .channel-27 code,
.edf-grid.channel-28 .channel-28 code,
.edf-grid.channel-29 .channel-29 code,
.edf-grid.channel-30 .channel-30 code,
.edf-grid.channel-31 .channel-31 code,
.edf-grid.channel-32 .channel-32 code,
.edf-grid.channel-33 .channel-33 code,
.edf-grid.channel-34 .channel-34 code,
.edf-grid.channel-35 .channel-35 code,
.edf-grid.channel-36 .channel-36 code,
.edf-grid.channel-37 .channel-37 code,
.edf-grid.channel-38 .channel-38 code,
.edf-grid.channel-39 .channel-39 code,
.edf-grid.channel-40 .channel-40 code,
.edf-grid.channel-41 .channel-41 code,
.edf-grid.channel-42 .channel-42 code,
.edf-grid.channel-43 .channel-43 code,
.edf-grid.channel-44 .channel-44 code,
.edf-grid.channel-45 .channel-45 code,
.edf-grid.channel-46 .channel-46 code,
.edf-grid.channel-47 .channel-47 code,
.edf-grid.channel-48 .channel-48 code,
.edf-grid.channel-49 .channel-49 code,
.edf-grid.channel-49 .channel-50 code {
  filter: saturate(3);
  outline: 1px solid black;
}

/* Flexgrid */

.flex {
  margin: 0 -.5em;
  display: flex;
}

.flex > * {
  flex: 1;
  margin: 0 .5em;
}

/* Legend */

.legend {
  margin-top: 1em;
}

.legend ul {
  margin: 0;
  padding: 0;
}

.legend .container-static h2 {
  margin-bottom: 1.85rem;
}

.legend .container-dynamic {
  flex: 2;
}

.legend h2,
.legend li {
  margin: 0;
  list-style: none;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  padding: 2px 2px 2px 5px;
  cursor: pointer;
}

.legend li {
  margin-top: -1px;
  line-height: 1.5;
}

.legend h1,
.legend h2,
.legend h3 { line-height: 1; }
.legend h2 { padding: 4px 5px 5px; }
.legend h3 { margin: 6px 5px 7px; }

.legend .active {
  background-color: #a8ffaa;
}

.legend .color-bubble {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  float: right;
}
